.menu-bar {
    -fx-background-color: #2EC4B6; /* وردي زهري */
    -fx-padding: 5px;
    -fx-border-color: #c2185b;
    -fx-border-width: 0 0 2px 0;
    -fx-border-style: solid;
}

.menu {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px 15px;
}

.menu:hover {
    -fx-background-color: #c2185b; /* لون غامق عند التمرير */
}

.menu-item {
	   -fx-background-color: #FAD0C4;
	   -fx-text-fill: white;
	   -fx-font-size: 16px;
	   -fx-font-weight: bold;
	   -fx-padding: 5px 15px;
}


.root {
    -fx-background-color: #FAD0C4; /* لون زهري فاتح مثل لون الوردة */
}
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: #055B5D;
    -fx-border-width: 2px;
    -fx-border-radius: 8;
    -fx-padding: 5;
    -fx-table-cell-border-color: #04484A;
}

.table-view .column-header-background {
    -fx-background-color: #077A7D;
    -fx-border-radius: 8 8 0 0;
}

.table-view .column-header, 
.table-view .filler {
    -fx-size: 35px;
    -fx-background-color: #077A7D;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: #E0F7F8;
    -fx-border-color: #B0D9DA;
    -fx-font-size: 13px;
    -fx-text-fill: #04484A;
}

.table-row-cell:odd {
    -fx-background-color: #C8EFF0;
}

.table-row-cell:selected {
    -fx-background-color: #055B5D;
    -fx-text-fill: white;
}.custom-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-style: italic;
    -fx-text-fill: #ffffff; /* أبيض */
}

.custom-field {
    -fx-font-size: 18px;
    -fx-text-fill: #004D99; /* أزرق غامق */
    -fx-background-color: #D0E9FF; /* أزرق فاتح */
    -fx-border-color: #004D99;
    -fx-border-width: 1.5;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 8;
    -fx-pref-width: 200;
    -fx-pref-height: 30;
}
.combo-box {
    -fx-background-color: #e0f0ff; /* أزرق فاتح */
    -fx-border-color: #90caff;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 0, 0, 1);
}

/* سهم الاختيار */
.combo-box .arrow-button {
    -fx-background-color: #b3dfff;
    -fx-background-radius: 0 8px 8px 0;
    -fx-border-color: transparent;
}

/* القائمة المنسدلة */
.combo-box .list-cell {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.combo-box .list-view {
    -fx-background-color: #f0faff;
    -fx-border-color: #90caff;
    -fx-border-radius: 0 0 8px 8px;
    -fx-background-radius: 0 0 8px 8px;
}

.combo-box .list-cell:hover {
    -fx-background-color: #d0ebff;
}
